In [ ]:
# Importing Pandas Library for accessing and ETL process.

In [1]:
import pandas as pd

In [ ]:
# reading CSV file

In [2]:
df = pd.read_csv('Borrowers_data.csv')

df.head()

,Name,Date of Birth,Gender,Marital Status,Phone Number,Email Address,Mailing Address,Language Preference,Geographical Location,Credit Score,...,Loan Amount,Loan Term,Interest Rate,Loan Purpose,EMI,IP Address,Geolocation,Repayment History,Days Left to Pay Current EMI,Delayed Payment
0,Khushi Balan,19-02-1986,Male,Single,2169182416,xbhakta@example.com,"29/74, Mander, Kulti 156906",Marathi,Danapur,491,...,34398,15,0.16,Medical Emergency,2545.36,10.65.217.95,"-49.3275015, 58.067192","[{'Payment Date': datetime.date(2023, 5, 3), '...",2,No
1,Umang Chatterjee,13-08-1980,Male,Married,4521712306,ivaidya@example.org,73/885\nSharma Marg\nSolapur 386449,Malayalam,Bangalore,325,...,96856,9,0.20,Home Renovation,11678.35,192.168.179.132,"14.951437, -136.491335","[{'Payment Date': datetime.date(2023, 5, 1), '...",4,Yes
2,Adira Dara,05-08-1995,Female,Widowed,4615155004,loyalvihaan@example.net,H.No. 468\nRaval Zila\nNanded 490253,Malayalam,Bijapur,624,...,91301,10,0.16,Home Renovation,9812.94,10.166.34.134,"64.013123, 175.275587","[{'Payment Date': datetime.date(2023, 5, 7), '...",7,No
3,Anvi Saini,16-11-2001,Male,Married,914836846677,tgaba@example.org,"04/25, Mandal Path, Guntakal 305639",Gujarati,Korba,346,...,78981,14,0.28,Education Fees,6678.01,10.107.161.197,"-11.6130395, 37.595772","[{'Payment Date': datetime.date(2023, 5, 10), ...",7,Yes
4,Kartik Kade,09-07-1979,Male,Widowed,910186397558,sanakaur@example.net,"55/13, Srivastava Path\nRaipur-801775",Malayalam,Jorhat,321,...,89953,1,0.29,Wedding Expenses,92126.86,192.168.255.28,"-71.7186905, 49.352990",[],11,No

In [ ]:
#3. Data Cleaning 
#I. Drop Unnecessary columns
#II.Check for missing values
#III. Handle Data types

In [3]:
df.isnull().sum()

Name                            0
Date of Birth                   0
Gender                          0
Marital Status                  0
Phone Number                    0
Email Address                   0
Mailing Address                 0
Language Preference             0
Geographical Location           0
Credit Score                    0
Loan Type                       0
Loan Amount                     0
Loan Term                       0
Interest Rate                   0
Loan Purpose                    0
EMI                             0
IP Address                      0
Geolocation                     0
Repayment History               0
Days Left to Pay Current EMI    0
Delayed Payment                 0
dtype: int64

In [ ]:
# Checking for data types

In [4]:
df.dtypes

Name                             object
Date of Birth                    object
Gender                           object
Marital Status                   object
Phone Number                      int64
Email Address                    object
Mailing Address                  object
Language Preference              object
Geographical Location            object
Credit Score                      int64
Loan Type                        object
Loan Amount                       int64
Loan Term                         int64
Interest Rate                   float64
Loan Purpose                     object
EMI                             float64
IP Address                       object
Geolocation                      object
Repayment History                object
Days Left to Pay Current EMI      int64
Delayed Payment                  object
dtype: object

In [ ]:
#changing the data type of datetime and getting the year first then month and day.

In [6]:
df['Date of Birth']=pd.to_datetime(df['Date of Birth'], yearfirst=True)

df.head

<bound method NDFrame.head of                    Name Date of Birth  Gender Marital Status  Phone Number  \
0          Khushi Balan    1986-02-19    Male         Single    2169182416
1      Umang Chatterjee    1980-08-13    Male        Married    4521712306
2            Adira Dara    1995-08-05  Female        Widowed    4615155004
3            Anvi Saini    2001-11-16    Male        Married  914836846677
4           Kartik Kade    1979-07-09    Male        Widowed  910186397558
...                 ...           ...     ...            ...           ...
4995      Sahil Sridhar    1994-09-16  Female         Single    7610887949
4996     Shamik Mahajan    1977-06-13  Female        Married  915634902477
4997         Krish Brar    1958-10-18  Female       Divorced    4222469533
4998  Pranay Srinivasan    1969-07-17    Male         Single    7107609791
4999        Saanvi Kala    2006-03-15  Female       Divorced    7792576392

                Email Address                              Mailing Address  \
0         xbhakta@example.com                  29/74, Mander, Kulti 156906
1         ivaidya@example.org          73/885\nSharma Marg\nSolapur 386449
2     loyalvihaan@example.net         H.No. 468\nRaval Zila\nNanded 490253
3           tgaba@example.org          04/25, Mandal Path, Guntakal 305639
4        sanakaur@example.net        55/13, Srivastava Path\nRaipur-801775
...                       ...                                          ...
4995    amiradyal@example.com  21/243, D’Alia Marg\nKalyan-Dombivli-365173
4996   xchoudhary@example.net      78/75\nSarin Street, Medininagar 780980
4997  jaggiishita@example.com  10, Deol Ganj, Surendranagar Dudhrej 811454
4998        jarya@example.net               73, Kohli Ganj\nMathura-650422
4999    inaaya-45@example.net             75, Salvi Ganj, Hyderabad-170337

     Language Preference  Geographical Location  Credit Score  ...  \
0                Marathi                Danapur           491  ...
1              Malayalam              Bangalore           325  ...
2              Malayalam                Bijapur           624  ...
3               Gujarati                  Korba           346  ...
4              Malayalam                 Jorhat           321  ...
...                  ...                    ...           ...  ...
4995                Urdu                   Agra           710  ...
4996             English                  Arrah           349  ...
4997             Kannada               Ambattur           334  ...
4998               Tamil               Kottayam           685  ...
4999            Gujarati  Surendranagar Dudhrej           743  ...

     Loan Amount  Loan Term  Interest Rate       Loan Purpose       EMI  \
0          34398         15           0.16  Medical Emergency   2545.36
1          96856          9           0.20    Home Renovation  11678.35
2          91301         10           0.16    Home Renovation   9812.94
3          78981         14           0.28     Education Fees   6678.01
4          89953          1           0.29   Wedding Expenses  92126.86
...          ...        ...            ...                ...       ...
4995       67256          1           0.13  Medical Emergency  67984.61
4996       64185          1           0.23     Education Fees  65415.21
4997       57864          1           0.12     Education Fees  58442.64
4998       57964          8           0.11  Medical Emergency   7547.56
4999       26428          1           0.24  Medical Emergency  26956.56

           IP Address              Geolocation  \
0        10.65.217.95   -49.3275015, 58.067192
1     192.168.179.132   14.951437, -136.491335
2       10.166.34.134    64.013123, 175.275587
3      10.107.161.197   -11.6130395, 37.595772
4      192.168.255.28   -71.7186905, 49.352990
...               ...                      ...
4995     172.23.107.8     53.800558, 32.045929
4996   172.20.199.148   -67.424898, -30.896858
4997   192.168.88.105      54.933584, 2.857838
4998    172.31.132.78   -25.4826365, 49.763984
4999  192.168.198.148  -72.0377085, 176.091897

                                      Repayment History  \
0     [{'Payment Date': datetime.date(2023, 5, 3), '...
1     [{'Payment Date': datetime.date(2023, 5, 1), '...
2     [{'Payment Date': datetime.date(2023, 5, 7), '...
3     [{'Payment Date': datetime.date(2023, 5, 10), ...
4                                                    []
...                                                 ...
4995  [{'Payment Date': datetime.date(2023, 5, 28), ...
4996  [{'Payment Date': datetime.date(2023, 5, 19), ...
4997  [{'Payment Date': datetime.date(2023, 5, 3), '...
4998  [{'Payment Date': datetime.date(2023, 5, 21), ...
4999                                                 []

     Days Left to Pay Current EMI  Delayed Payment
0                               2               No
1                               4              Yes
2                               7               No
3                               7              Yes
4                              11               No
...                           ...              ...
4995                           11              Yes
4996                           11               No
4997                           15               No
4998                            6              Yes
4999                           13              Yes

[5000 rows x 21 columns]>

In [ ]:
#changing the data type of all to string so that sql can read it all.

In [7]:
df = df.astype({'Phone Number':'string', 'Credit Score': 'string', 'Loan Amount': 'string','Loan Term':'string','Days Left to Pay Current EMI':'string','Interest Rate':'string','EMI': 'string', 'Name':'string', 'Gender':'string','Marital Status':'string', 'Email Address': 'string','Mailing Address': 'string','Language Preference': 'string','Geographical Location':'string','Credit Score':'string','Loan Type': 'string','Loan Amount': 'string','Loan Purpose': 'string','IP Address': 'string','Repayment History': 'string','Delayed Payment':'string','Geolocation':'string'})

In [ ]:
#checking if the data types has changed or not

In [8]:
df.dtypes

Name                            string[python]
Date of Birth                   datetime64[ns]
Gender                          string[python]
Marital Status                  string[python]
Phone Number                    string[python]
Email Address                   string[python]
Mailing Address                 string[python]
Language Preference             string[python]
Geographical Location           string[python]
Credit Score                    string[python]
Loan Type                       string[python]
Loan Amount                     string[python]
Loan Term                       string[python]
Interest Rate                   string[python]
Loan Purpose                    string[python]
EMI                             string[python]
IP Address                      string[python]
Geolocation                     string[python]
Repayment History               string[python]
Days Left to Pay Current EMI    string[python]
Delayed Payment                 string[python]
dtype: object

In [ ]:
#4. DataFrame Export 
#I. Convert All Rows Into a List of Tuples

In [ ]:
borrower = []
for i in range(len(df)):
    
    x = tuple(df.iloc[i])
    borrower.append (x)

borrower

In [ ]:
#save the list as a text file

In [10]:
file = open('Lists.txt', 'w')

for tuple in borrower:
    file.write(str(tuple) + ',' + '\n')

file.close